<h1><strong><%= @word.word %></strong> means...</h1>
<br>
<h3><em><%= @definition.definition %></em></h3>
<hr>
<form action="/word/<%= @word.id %>" method="get">
  <button type="submit" class="btn btn-light">Return to <%= @word.word %></button>
</form>
<br>
<form action="/word/<%= @word.id %>/definition/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Remove definition!</button>
</form>